@model PlaySpace.Models.Game

@{
    Layout = null;
}

@if (Model != null)
{
    <div class="s-products center">
        @if (Model.ImageData == null)
        {
            <div class="s-p-img">
                <a href="#"><img src="~/Content/Images/no.png" alt="" /></a>
            </div>
        }
        else
        {
            <div class="s-p-img">
                <a href="#"><img src="@Url.Action("GetImage", "Games", new { Model.GameId })" alt="" /></a>
            </div>
        }
        <div class="s-p-footer clearfix">
            <h6><a href="#">@Model.Name</a></h6>
            <p style="font-family: 'Times New Roman';"><strong>@Model.Discription</strong></p>

            <div class="s-p-footer-price clearfix">
                @if (Model.Discount != 0)
                {
                    <span class="price-lg">@(Model.Price / 100 * (100 - Model.Discount)) руб.</span>
                    <span class="discount">@(Model.Discount)%</span>
                }
                else
                {
                    <span class="price">@Model.Price.ToString("# руб")</span>
                }
                @if (Model.CountKeys > 0)
                {
                    using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <div class="s-add-cart right">
                            @Html.HiddenFor(x => x.GameId)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input type="submit" value="В корзину" />
                        </div>
                    }
                }
                else
                {
                    <small class="not-key clearfix right"><strong>Нет в наличии</strong></small>
                }
            </div>
        </div>
    </div>
}