@model Data_Access_Layer.Entities.Game

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; color: black;">@Model.Name</h1>

<div class="row center" style="font-family: 'Times New Roman';">
    <div class="dl-horizontal">
        <div style="margin-left: 40%;">
            @if (Model.ImageData == null)
            {
                <div class="p-img">
                    <img src="~/Content/Images/no.png" alt="" />
                </div>
            }
            else
            {
                <div class="p-img">
                    <img src="@Url.Action("GetImage", "Games", new { Model.GameId })" alt="" />
                </div>
            }
        </div>
        <table align="center" cellpadding="50" cellspacing="50" border="1" height="700">
            <tr class="well" style="vertical-align: middle;">
                <td>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </td>
            </tr>
            <tr class="well">
                <td>
                    @Html.DisplayNameFor(model => model.Discription)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Discription)
                </td>
            </tr>
            <tr class="well">
                <td>
                    @Html.DisplayNameFor(model => model.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)
                </td>
            </tr>
            <tr class="well">
                <td>
                    @Html.DisplayNameFor(model => model.Discount)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Discount) %
                </td>
            </tr>
        </table>
    </div>
    @if (Model.CountKeys > 0)
    {
        using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div style="margin-top: 50px;">
                @Html.HiddenFor(x => x.GameId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input class="well" style="float: right; font-size: 35px; width: auto; height: auto;" type="submit" value="В корзину" />
            </div>
        }
    }
    else
    {
        <small class="not-key clearfix right" style="font-size: 35px; margin-top: 50px;"><strong>Нет в наличии</strong></small>
    }

    <div style="margin-top: 50px; float: left;">
        @Html.ActionLink("Вернуться к каталогу", "List", null, new
        {
            @class = "well",
            @style = "margin-top: 150px; font-size: 35px; width: auto; height: 100px;"
        })
    </div>
</div>
