@using Data_Access_Layer.Entities
@using PlaySpace.HtmlHelpers
@model PlaySpace.Models.GameListViewModel

@{
    ViewBag.Title = "Каталог";
}

<div class="sorting center">
    <ul class="s-category clearfix" style="font-family: 'Times New Roman'; font-weight: 600;">
        @Html.Action("Menu", "Nav")
    </ul>
    <div class="s-list">
        @if (Model.CurrentSort == 1)
        {
            @Html.ActionLink("Цена ↑", "List", "Games", new { category = Model.CurrentCategory, sort = 0 }, new { style = "float:right; font-family: 'Times New Roman';", @class = "sort-price" })
        }
        else
        {
            @Html.ActionLink("Цена ↓", "List", "Games", new { category = Model.CurrentCategory, sort = 1 }, new { style = "float:right; font-family: 'Times New Roman';", @class = "sort-price" })
        }
    </div>
</div>
<div class="middle center clearfix">
    <div class="sidebar">
        @if (Model.Games != null)
        {
            <h1>Самое выгодное предложение на сегодня!!!</h1>
            @Html.Action("Action", new { model = Model })
        }
    </div>
    <div class="product-catalog">
        @foreach (var p in @Model.Games)
        {

            @Html.Partial("GameSummary", p)
        }
    </div>
</div>
<footer id="page">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                 new { page = x, sort = Model.CurrentSort, category = Model.CurrentCategory }))
</footer>