@model Data_Access_Layer.Entities.Category

@{
    ViewBag.AdminTitle = "Создание категории";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    @using (Html.BeginForm("Create", "Category",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id":
                    
                        // Ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.ValidationMessage(property.PropertyName)
                            @Html.TextBox(property.PropertyName, null,
                                         new { @class = "form-control" })
                        </div>
                        break;
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>