@model Data_Access_Layer.Entities.User

@{
    ViewBag.Title = "Профиль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="sectionTop">
        <span class="sectionTitle">Редактирование данных вашего профиля:</span>
        <span class="gameIcn"></span>
    </div>
    <div class="sectionBody">
        <div class="itemBody" style="width:100%">
            <!-- <body> -->
            <div align="center">
                <p style="font-size: 24pt; color: white; margin-bottom: 40px; line-height: 1.5;">Пожалуйста, введите новые данные</p>
                <div class="center" style="color: white; font-size: 22px; margin-top: 40px;">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group" style="margin-top: 10px;">
                                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="margin-top: 10px;">
                                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="margin-top: 10px;">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="margin-top: 10px;">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="margin-top: 10px;">
                                    @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Сохранить данные" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- </body> -->
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>