@model PlaySpace.Entities.LoginModel

@{
    ViewBag.Title = "Вход на сайт";
}

<section>
    <div class="sectionTop">
        <span class="sectionTitle">Страница входа</span>
        <span class="gameIcn"></span>
    </div>
    <div class="sectionBody">
        <div class="itemBody" style="width:100%">
            <!-- <body> -->
            <div align="center">
                <p style="font-size: 24pt; line-height: 1.5;">Пожалуйста, введите ваш логин и пароль</p>
                <div class="modal_content" style="margin-top: 10px; color: white; font-size: 22pt;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" style="margin-top: 10px;">
                            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-top: 10px;">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 10px;">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-top: 10px;">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="submit_bl" style="margin-top: 10px;">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Войти" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <div class="btn_bl" style="margin-top: 10px;">
                        <a href="/Account/Register/">Регистрация</a>
                    </div>
                    
                }
                </div>
            </div>
            <!-- </body> -->
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>