@model PlaySpace.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}

<div class="center c-w">Ваша корзина</div>
<table class="table center">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Игра</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Скидка</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Game.Name</td>
            <td class="text-right">@line.Game.Price.ToString("# руб")</td>
            @if (line.Game.Discount > 0)
            {<td class="text-right">@line.Game.Discount %</td>; }else{<td> </td>}
            <td class="text-right">
            @((line.Quantity * (line.Game.Price / 100 * (100 - line.Game.Discount))).ToString("# руб"))
            </td>
            <td>
            @using (Html.BeginForm("RemoveFromCart", "Cart"))
    {
        @Html.Hidden("GameId", line.Game.GameId)
        @Html.HiddenFor(x => x.ReturnUrl)
        <input class="btn" type="submit" value="Удалить" />
}
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @if (Model.ReturnUrl != null)
    {
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    }
    else
    {
        <a class="btn btn-primary" href="/">Продолжить покупки</a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
    }
    else
    {
        <a class="btn btn-primary" href="/Account/Login">Войти</a>
    }
</div>