@model IEnumerable<PlaySpace.Models.Order>

@{
    ViewBag.Title = "OrderCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center", style="color: black; font-size: 18px;">Заказы на @DateTime.Now</h2>

<table class="table center">
    <tr>
        <th>
            Статутс заказа
        </th>
        <th>
            Email покупателя
        </th>
        <th>
            Дата заказа
        </th>
        <th>
            Общая стоимость
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @using (Html.BeginForm("OrderCheck", "Admin",
            FormMethod.Post, new { order = item }))
            {
                @Html.EditorFor(modelItem => item.StatusId)
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить статус" class="btn btn-default" />
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllPrice)
        </td>
    </tr>
}


</table>
